name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password123
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}  # Replace with your database name if different
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2  # Updated to v2
        with:
          node-version: '16'

      - run: yarn install  # Use yarn instead of npm

      # Run the tests
      - run: yarn test  # Running tests using yarn
