name: Continuous Integration (CI)

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.16
        env:
          POSTGRES_USER: ${{ secrets.DB_USER }}  # Secret for PostgreSQL user
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}  # Secret for PostgreSQL password
          POSTGRES_DB: ${{ secrets.DB_NAME }}  # Secret for PostgreSQL database name
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }} # Secret DB URL

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: yarn install

      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h localhost -U ${{ secrets.DB_USER }}; do
            echo "Waiting for PostgreSQL to be ready..."
            sleep 5
          done

      - run: yarn test
